/* место для вашего кода */
.header {
  display: grid;
  /* margin: 92px 24px 96px; */
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 45px 96px 50px;


}

.menu {
    align-self: center;
    justify-self: start;
}

.menu__list {
    display: flex;
    gap: 33px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

.menu__list {
    /* /* padding-inline-start: 0px; */
} 

.menu__link-2 {
  padding-right: 2px;
}


.text {
  margin-right: 41px;;
}

.menu__item {
  list-style: circle;

}

.menu-item_without-bullet {
  list-style: none;
}

.link-without-underline {
  text-decoration: none;
}

.link-with-custom-style {
  text-decoration: none;
  border-bottom: 1px solid black;
}
/* 
.menu__logo {
    justify-self: center;
}

.menu__logo-image {
    display: inline-block;
    width: 100%;
} */

.address {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
align-self: center;
justify-self: end;
}





