.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 45px 92px 50px;
}

.header__menu {
  align-self: center;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  list-style: circle;
}

.header__links-list-item {
  padding-right: 1px;
}

.text {
  margin-right: 41px;
}

.item-without-bullet {
  list-style: none;
}

.link-with-custom-style {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.link-on-hover:hover {
  border-bottom: none;
}

.link-active {
  border-bottom: none;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/lotus-flower.jpg);
  background-size: cover;
  width: 1100px;
  height: 757px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.card__title {
  position: relative;
  margin-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  overflow-wrap: break-word;
}

.cover__title {
  position: relative;
  padding: 165px 50px 135px 50px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.title-span {
  display: block;
}

.aligned-text_left {
  line-height: 115px;
  word-spacing: -24px;
  z-index: 0;
}

.aligned-text_center {
  line-height: 140px;
  padding-left: 286px;
  word-spacing: -24px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
  margin-right: -0.3em;
  word-spacing: -21px;
}

.cover__description {
  display: flex;
  margin-left: 50px;
  width: 100%;
  flex-direction: row;
  gap: 78px;
}

.cover__description-text {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  align-content: center;
  text-transform: uppercase;
  padding-left: 28px;
  word-spacing: 18.7px;
  color: #ffffff;
}

.bet-button {
  position: relative;
  width: 256px;
  height: 51px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  justify-items: right;
  border: 1px solid white;
}

.bet-button:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

.lots {
  margin-top: 179px;
  margin-left: 24px;
  margin-right: 24px;
}
.lots__card-list {
  display: flex;
  margin-top: 27px;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  height: 563px;
  flex-grow: 1;
}

.lots__heading {
  margin-left: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;

  color: #000000;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.links-list-item_no-bullit {
  list-style: none;
}

.card {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card__text {
  position: relative;
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  align-self: end;
  color: #ffffff;
}

.card__link_on-hover:hover {
  border: 4px solid yellow;
  background-color: rgb(0, 0, 0, 0.5);
}

.card__link {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.about {
  margin-top: 144px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 595px auto;
  column-gap: 25px;
  /* white-space: pre; */
}

.about__logo {
  justify-self: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 100%;
}

.about__logo-image {
  align-self: center;
}

.about__text {
  white-space: pre-line;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about__title {
  margin-top: 115px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.list-without-bullet {
  list-style: none;
}

.first-paragph {
  margin-top: 53px;
  margin-bottom: -25px;
}

.footer {
  display: flex;
  margin-top: 185px;
  margin-bottom: 88px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.footer__menu-list {
  text-align: center;
  justify-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  gap: 47px;
}

.footer__social-link {
  text-decoration: none;
}
